<div class="cards-container">
    <mat-card [class.mat-elevation-z8]="true">
      <mat-card-title class="center-text">Props</mat-card-title>
      <mat-card-content>
        <p>Name: {{ sheet?.name }} </p>
        <p>Owner: {{ sheet?.ownerName }} </p>
        <p *ngIf="sheet?.status == status.Completed">Status: Completed</p>
        <div *ngIf="!sheet?.isPublic">
          <!-- <mat-form-field>
            <mat-label>Join Link</mat-label>
            <input matInput type="text" >
            <button matSuffix mat-icon-button aria-label="Copy">
              <mat-icon>content_copy</mat-icon>
            </button>
          </mat-form-field> -->
          <mat-chip-list aria-label="Fish selection">
            <mat-chip (click)="copyJoinLink()">
              Join Link 
              <mat-icon>content_copy</mat-icon>
            </mat-chip>
          </mat-chip-list>
          
        </div>
        <div [ngSwitch]="sheet?.status">
          <div *ngSwitchCase="status.Pending">
            <div *ngIf="props?.length > 0" cdkDropList (cdkDropListDropped)="drop($event)">
              <h2>Props</h2>
                <div class="drag-drop-prop" *ngFor="let prop of props" cdkDrag>
                  <div class="question">{{prop.question}}</div>
                  <div clsss="type">{{prop.type}}</div>
                  <div><button mat-raised-button>Remove</button></div>
                </div>
                <div ng *ngIf="hasTieBreaker()">
                  <h2>Tie Breaker</h2>
                  <div class="drag-drop-prop">
                    <div class="question">{{sheet.tieBreaker.question}}</div>
                    <div clsss="type">{{sheet.tieBreaker.type}}</div>
                    <div><button mat-raised-button>Remove</button></div>
                  </div>
                </div>               
                <button mat-raised-button (click)="addProp()">Add Prop</button>
                <button *ngIf="!hasTieBreaker()" mat-raised-button (click)="addTieBreaker()">Add Tie Breaker</button>
                <button *ngIf="hasTieBreaker()" mat-raised-button (click)="finalizeProps()" color="warn">Finalize Props</button>
            </div>
            <button mat-raised-button (click)="addProp()" class="demo-button">Add Prop</button>

          </div>
          <div *ngSwitchCase="status.Finalized">
            <h2>Props</h2>
            <div class="prop" *ngFor="let prop of props">
              <div class="question">{{prop.question}}</div>
              <div class="type">{{prop.type}}</div>
            </div>
            <h2>Tie Breaker</h2>
            <div class="prop tie-breaker">
              <div class="question">{{sheet.tieBreaker.question}}</div>
              <div clsss="type">{{sheet.tieBreaker.type}}</div>
            </div>
          </div>
          <div *ngSwitchCase="status.InProgress">
            <h2>Props</h2>
            <div class="props-wrapper">
              <app-prop *ngFor="let prop of props" class="propComponent" [prop]="prop" (save)="saveSheetPropAnswer(prop, $event)"></app-prop>
            </div>
            <h2>Tie Breaker</h2>
            <app-prop [prop]="sheet.tieBreaker" (save)=saveTieBreakerAnswer($event)></app-prop>
            <div>
              <button mat-raised-button (click)="completeKey()">Complete Key</button>
            </div>
          </div>
          <div *ngSwitchCase="status.Completed">
            <div class="props-wrapper">
              <app-prop *ngFor="let prop of props" [prop]="prop" [disableBtn]="true" (save)="saveSheetPropAnswer(prop, $event)"></app-prop>
            </div>
            <div>
              <button mat-raised-button (click)="GoToScoring()">Go to scoring page</button>
            </div>
          </div>
          <div *ngSwitchDefault>Expired</div>
        </div>
        
      </mat-card-content>
  </mat-card>
 </div>

