<div class="cards-container">
    <mat-card [class.mat-elevation-z8]="true">
      <mat-card-title class="center-text">Available Sheets</mat-card-title>
      <mat-card-content>
        <div class="center-text" *ngIf="sheets?.length == 0; else noSheets">
          No available sheets.
        </div>
        <ng-template #noSheets>
          <table mat-table [dataSource]="sheets">

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let sheet"> {{sheet.name}}</td>
            </ng-container>

            <!-- Score Column -->
            <ng-container matColumnDef="owner">
                <th mat-header-cell *matHeaderCellDef> Score </th>
                <td mat-cell *matCellDef="let sheet"> {{sheet.ownerName}} </td>
              </ng-container>
              <!-- Score Column -->
              <ng-container matColumnDef="join">
                <th mat-header-cell *matHeaderCellDef> Join </th>
                <td mat-cell *matCellDef="let sheet">
                  <button mat-raised-button (click)="joinSheet(sheet)">Join</button>
                </td>
              </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </ng-template>
      </mat-card-content>
  </mat-card>
 </div>

