.navbar-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 16px;
  background: #fafafa;
}

.logo {
  height: 26px;
}

/* mat-toolbar {
  height: 75px;
  padding: 0 80px;
}

.button-group {
  margin: 0 24px;
}

.btn-nav {
  margin: 0 12px;
}

.container {
  justify-content: space-between;
}
.logo {
  max-height: 65px;
}

.fixed {
  position: sticky;
  display: block;
} */