
mat-toolbar {
  height: 75px;
  padding: 0 80px;
}

.button-group {
  margin: 0 24px;
}

.btn-nav {
  margin: 0 12px;
}

.container {
  justify-content: space-between;
}
.logo {
  max-height: 65px;
}