   <div class="cards-container">
      <mat-card [class.mat-elevation-z8]="true">
        <mat-card-title class="center-text">Standings</mat-card-title>
        <mat-card-subtitle class="center-text">Week 5</mat-card-subtitle>
        <mat-card-content>
          <div *ngIf="(players$ |async)?.length == 0">
            No standings posted.
          </div>
            <table mat-table [dataSource]="players$">
                <!-- Position Column -->
              <!-- <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let person"> {{person.position}} </td>
              </ng-container> -->

              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let index = index"> {{index + 1}} </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let person"> {{person.firstName}} {{person.lastName}}</td>
              </ng-container>

              <!-- Score Column -->
              <ng-container matColumnDef="score">
                <th mat-header-cell *matHeaderCellDef> Score </th>
                <td mat-cell *matCellDef="let person"> {{person.score}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </mat-card-content>
    </mat-card>
   </div>

