@import './scss/_variables.scss';
/* You can add global styles to this file, and also import other style files */
$primary-dark: #0F2557;
$primary-med: #3778C2;
$primary-light: #7ED5EA;
$white: #fafafa;

html, body { 
    width: 100%;
    height: 100vh;
    margin: 0; 
}

body { 
    background: $white -webkit-linear-gradient(135deg, $primary-light, $primary-med, $primary-dark);
    background: $white -moz-linear-gradient(135deg,  $primary-light, $primary-med, $primary-dark);
    background: $white -ms-linear-gradient(135deg,  $primary-light, $primary-med, $primary-dark);
    background: $white -o-linear-gradient(135deg,  $primary-light, $primary-med, $primary-dark);
    background: $white linear-gradient(135deg,  $primary-light, $primary-med, $primary-dark);
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-repeat: no-repeat;
    background-attachment: fixed;
}

app-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

app-home, 
app-rules, 
app-sign-up, 
app-login,
app-admin,
app-create-sheet {
    position: relative;
    top: 52px;
}

form {
    display: flex;
    flex-direction: column;
}

.mat-table {
    background-color: $white;
    min-width: 300px;
}

.mat-card {
    margin: 25px;
    background-color: $white;
}

.mat-card-content {
    padding: 0 25px;
    overflow-y: auto;
    max-height: 60vh;
}

.mat-list-item {
    height: 30px !important;
}

.mat-list-item-content {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}


.flex-spacer {
    flex-grow: 1;
}

/* LEFT align */
.left {
    justify-content: flex-start;
}

/* RIGHT align */
.right {
    justify-content: flex-end;
}

.center {
    justify-content: center;
}

.center-text {
    text-align: center;
}

// .container   {
//     width: 100%;
//     display: flex;    
//     justify-content: center;
// }

// .cards-container{
//     display: flex;
//     flex-direction: column;
//     flex-wrap: wrap;
//     align-content: center;
//     max-height: 100vh;
//   }

@media only screen and (min-width: 800px) { // Wide screen
    .cards-container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        max-height: 100vh;
    }
}

@media only screen and (max-width: 800px) and (min-width: 375px) { // large phone / tablet
    .cards-container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }
}
@media only screen and (max-width: 375px) { // small phones
    .mat-card-content {
        padding: 0 10px;
        overflow-y: auto;
        max-height: 60vh;
    }

    .mat-table {
        background-color: $white;
        min-width: 175px;
    }
}